body {
	font-family: 'Gravitas One', cursive;
	color: #222;
}
.container-fluid {
	padding: 0;
}

.row {
	margin:0;
}

.background-img {
	background-image: url("../img/kitchen.jpg");
	background-size: cover;
}

.food {
	background-image: url("../img/food.png");
}

.list {
	text-align: center;
	width: 60%;
	margin: 10% 20%;
	border-radius: 10px;
	border: 4px solid #eee;
}

.unchecked,
.checked {
	font-family: 'Gravitas One', cursive;
	font-size: 1.5em;
	list-style: none;
	padding:1% 20%;
	text-align: left;
	letter-spacing: .1em;
}

.button {
	border-radius: 10px;
	border: 2px solid #eee;
	background-color: #fff;
	font-size: 1rem;
	margin: 0 1%;
	float: right;
}

#text-input {
	border-radius: 5px;
	background-color: #F2F9FC;
}

#add-button {
	float: none;
}


h4 {
	margin: 32px 0 8px 0;
	color: #666;
	font-style: italic;
	font-size: 1.15em
}

h1 {
	margin-bottom: 25px;
	margin-top: 35px;
}

/**********
Responsive
***********/
@media only screen and (max-width: 890px) {
	.list {
		width: 70%;
		margin: 20% 15%;
	}
}

@media only screen and (max-width: 750px) {
	.list {
		width: 80%;
		margin: 20% 10%;
	}

	.unchecked,
	.checked {
		padding: 1% 10%;
	}

	h1 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 500px) {
	.list {
		width: 90%;
		margin: 25% 5%;
	}

	.unchecked,
	.checked {
		padding: 1% 8%;
	}

	li {
		margin: 15px 0;
	}
}

@media only screen and (max-width: 420px) {
	.list {
		width: 92%;
		margin: 25% 4%;
	}

	.unchecked,
	.checked {
		padding: 1% 6%;
		font-size: 1em;
	}

	#text-input {
		width:200px;
	}

	.button {
		font-size: .9rem;
	}

	h1 {
		font-size: 1.8em;
	}

	h4 {
		font-size: .9em;
	}
}

@media only screen and (max-width: 380px) {

	#text-input {
		width:190px;
	}

	h1 {
		font-size: 1.5em;
	}

	.unchecked,
	.checked {
		font-size: .85em;
	}

	h4 {
		font-size: .75em;
	}
}

@media only screen and (max-width: 380px) {

	#text-input {
		width:170px;
	}

	h1 {
		font-size: 1.2em;
	}	
}
