<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Shopping List</title>
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="js/jquery-ui-1.11.4/jquery-ui.min.css">
 	<link rel="stylesheet" href="js/jquery-ui-1.11.4/jquery-ui.theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="http://cdn.jsdelivr.net/g/jquery@1,jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29,angularjs@1.2,angular.ui-sortable"></script>
 	<script src="js/app.js"></script>
</head>
<body ng-controller="listController">
	<div class="container-fluid">
		<div class="background-img">
			<div class="row">
				<div class="food list">
					<h1>~Shopping List~</h1>
					<input type="text" id="text-input" ng-model="newItem" placeholder="Enter Item" ng-keypress="enterEvent($event, newItem)">  <button ng-click="addItem(newItem)" class="button" id="add-button">Add</button> <button ng-click="clear()" class="button" id="clear-button">Clear List</button>
					<h4>Drag items to rearrange</h4>
					<ul ui-sortable ng-model="items" class="unchecked">
						<li ng-repeat="item in items" ng-if="item.checked === false" ><input type="checkbox" ng-click="check(item.name)" class="list-checkbox"> <p class="unstrike"> {{item.name}} </p> <input type="button" class="button edit" value="Edit"> <input ng-click="destroy($index)" type="button" class="button remove" value="Remove"></li>
					</ul>
					<hr>
					<ul ui-sortable ng-model="items" class="checked">
						<li ng-repeat="item in items" ng-if="item.checked" ><input type="checkbox" class="list-checkbox" checked ng-click="check(item.name)"> <p class="strike"> {{item.name}} </p> <input type="button" class="button edit" value="Edit"> <input ng-click="destroy($index)" type="button" class="button remove" value="Remove"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>